.calculadora{
    background-color:blueviolet
}

.pantalla{
    background-color: salmon;
}

.marca{
    background-color: chartreuse;
}

.botonesCalculadora{
    background-color: crimson;
}

.botonCe{
    background-color: darkorange;
}