

@font-face {
    font-family: "Aviano Future W01 Heavy";
    src: url("https://db.onlinewebfonts.com/t/625cf3db9287945bd8e22b4556845531.eot");
    src: url("https://db.onlinewebfonts.com/t/625cf3db9287945bd8e22b4556845531.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/625cf3db9287945bd8e22b4556845531.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/625cf3db9287945bd8e22b4556845531.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/625cf3db9287945bd8e22b4556845531.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/625cf3db9287945bd8e22b4556845531.svg#Aviano Future W01 Heavy")format("svg");
}

@font-face {
    font-family: 'Avionic-ExWide-Black'; 
    src: url('Fontspring-DEMO-avionicexwideoblique-black.otf') format('opentype');
    
  }

  @font-face {
    font-family: 'Frutiger LT Arabic 55 Roman'; 
    src: url('fonts/FrutigerLTArabic-55Roman.ttf') format('truetype'); 
    
  }

  @font-face {
    font-family: 'Barclays Premier League';
    src: url('fonts/PremierLeague.ttf') format('truetype'); 
  }
  
  
  
.calImg{
    display: flex;
    justify-content: space-around;
   
}
.calculadora{
    display: flex;
    flex-direction: column;
    background-color: #F84295;
    width: 239px;
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}

.pantalla{
    text-align: center;
    padding: 2px;
    width: 95%;
    border: 2px solid #c72e7e;
    border-radius: 8px;
    margin: 5px;
    
}

.input {
    text-align: end;
    width: 95%;
    box-shadow: 0 4px 8px rgba(174, 19, 97, 0.4);
    font-family: "DigitalICG";
    font-size: 45px;
    font-weight: lighter;
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: #414670;
    height: 34px;
  }

  .marca {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #F84295;
    width: 95%;
    font-size: 7px;
    padding: 2px;
    color: #FAE3FC;
}

.catiga{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}

h2{
    font-family: "Aviano Future W01 Heavy";
}

h3{
    font-family: Arial;
    font-size: 7px;

}

.p1{
    align-content: flex-end;
    margin-left: 14px;
    font-family: 'Frutiger LT Arabic 55 Roman', sans-serif; 
}
.p2{
    margin-top: -9px;
    font-family: 'Frutiger LT Arabic 55 Roman', sans-serif; 
}

.p3{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
}

.p3 .digito{
    margin-top: -13px;
    margin-right: 5px;
}


.parrafo8{
    font-size: 1.5em;
    font-family: 'Avionic-ExWide-Black', sans-serif;

}

.digito{
    font-family: "Assemblage W00 Bold";
}

.celda{
    width: 63px;
    height: 17px;
    background-color: #786261;
    border-radius: 2.5px;
}

.botonesCalculadora{
    display: flex;
    background-color: #F84295;
    padding: 5px;
    width: 95%;
    border-radius: 40px;
    box-sizing: border-box;
    gap: 4px;
    flex-direction: column;
    text-align: center;
    
}

#botonRedondo{
    border-radius: 100%;
    background-color: #FDF8FE;
    color: #FCC4E4;
    font-size: 15px;
    min-height: 35px; 
    min-width: 35px;
    text-align: center;
    box-sizing: border-box;  
    
}
#botonRedondoAzul{
    border-radius: 50px;
    background-color: #BFDAF7;
    color: #FDF8FE;
    font-size: 9px;
    min-height: 40px; 
    min-width: 35px;
    text-align: center;
    box-sizing: border-box; 
    font-weight: bold; 
}
#botonRedondoRosado{
    border-radius: 26%;
    background-color: #FCC4E4;
    color: #FDF8FE;
    font-size: 24px;
    font-weight: bold;
    min-height: 37px;
    min-width: 42px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Barclays Premier League', sans-serif;
}

.botonIgual{
    border-radius: 30px;
    background-color: #FDF8FE;
    color: #FCC4E4;
    font-weight: bolder;
    font-size: 21px;
    width: 124px;
    box-sizing: border-box;
    align-items: baseline;
    align-content: flex-end;
    justify-content: center;
    margin: 4px;
    margin-left: 15px;
}

#botonSuma{
    border-radius: 100%;
    background-color: #FDF8FE;
    color: #FCC4E4;
    font-size: 25px;
    min-height: 35px;
    min-width: 35px; 
    text-align: center;
    box-sizing: border-box;  
}

#botonReset{
    border-radius: 30px;
    background-color: #BFDAF7;
    color: #FDF8FE;
    font-size: 17px;
    min-width: 20px;
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;  
}