
@font-face {
    font-family: 'LCD'; /* Nombre de la fuente */
    src: url('LCDAT&TPhoneTimeDate.ttf') format('truetype'); /* Ruta y formato del archivo de la fuente */
  }
  

.calImg{
    display: flex;
    justify-content: space-around;
   
}
.calculadora{
    display: flex;
    flex-direction: column;
    background-color: #F84295;
    width: 40%;
    padding: 10px;
}

.pantalla{
    text-align: center;
    box-shadow: 0 4px 8px rgba(202, 41, 121, 0.4);
    padding: 2px;
    width: 95%;
    
}

.input {
    width: 100%;
    box-shadow: 0 4px 8px rgba(174, 19, 97, 0.4);
    font-family: 'LCD', sans-serif; /* Utiliza la fuente 'LCD' para los inputs */
    font-size: 18px; /* Tamaño de fuente para los inputs */
    border: none; /* Quita el borde de los inputs */
    padding: 5px; /* Ajusta el espaciado dentro de los inputs */
  }

.marca{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F84295;
    width: 95%;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 7px;
    padding: 2px;
    color: #FAE3FC;


}

.botonesCalculadora{
    background-color: crimson;
    padding: 5px;
    width: 95%;
}

.botonCe{
    background-color: darkorange;
    padding: 5px;
    width: 95%;
}