<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Serif:wght@700;800;900&family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&family=Roboto+Serif:wght@700;800;900&family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <title>Calculadora Front</title>
</head>