<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="calculadora">
        <div class="pantalla">
          <input class="input" type="text">
        </div>
        <div class="marca">
          <h2>CATIGA</h2>
        </div>
        <div class="botonesCalculadora">
          <button class="boton7" value="7">7</button>
          <button class="boton8" value="8">8</button>
          <button class="boton9" value="9">9</button>
          <button class="botonSuma" value="+">+</button>
          <button class="boton4" value="4">4</button>
          <button class="boton5" value="5">5</button>
          <button class="boton6" value="6">6</button>
          <button class="botonResta" value="-">-</button>
          <button class="boton1" value="1">1</button>
          <button class="boton2" value="2">2</button>
          <button class="boton3" value="3">3</button>
          <button class="botonMultiplicacion" value="*">*</button>
          <button class="boton0" value="0">0</button>
          <button class="botonPunto" value=".">.</button>
          <button class="botonIgual" value="=">=</button>
          <button class="botonDivision" value="/">/</button>
        </div>
          <div class="botonCe">
            <button class="botonReset" value="">Reset</button>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/calculadoraFront.js"></script>
  </body>
</html>

