<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="calImg">
      <div class="calculadora">
        <div class="pantalla">
          <input class="input" type="text">
        </div>
        <div class="marca">
          <div class="catiga">
            <h2>CATIGA</h2>
            <h3>®</h3>
            <p class="p1">CD-8185</P>
            <p class="p2">SIMPLE DESIGN CALCULATOR</p>
          </div>
            <div class="p3">
              <p class="parrafo8">8</P>
              <p class="digito">DIGITS</p>
            </div>
          <div class="p4">
             <button class="celda"></button>
          </div>
        </div>
          
        <div class="botonesCalculadora">
          <div>
            <button class="botonRedondo">%</button>
            <button class="botonRedondoRosado" value="7">7</button>
            <button class="botonRedondoRosado" value="8">8</button>
            <button class="botonRedondoRosado" value="9">9</button>
            <button class="botonRedondo" value="/">÷</button>
          </div>
          <div>
            <button class="botonRedondo">√</button>
            <button class="botonRedondoRosado" value="4">4</button>
            <button class="botonRedondoRosado" value="5">5</button>
            <button class="botonRedondoRosado" value="6">6</button>
            <button class="botonRedondo" value="*">X</button>
          </div>
          <div>
            <button class="botonRedondo">CE</button>
            <button class="botonRedondoRosado" value="1">1</button>
            <button class="botonRedondoRosado" value="2">2</button>
            <button class="botonRedondoRosado" value="3">3</button>
            <button class="botonRedondo" value="-">-</button>
          </div>
          <div>
            <button class="botonRedondoAzul">ON/C</button>
            <button class="botonRedondoRosado" value="0">0</button>
            <button class="botonRedondoRosado" value=".">.</button>
            <button class="botonRedondoRosado">+/-</button>
            <button class="botonSuma" value="+">+</button>
          </div>
          <div>
            <button class="botonIgual" value="=">=</button>
          </div>
          <div class="botonCe">
            <button class="botonReset" value="">Reset</button>
          </div>
        </div>
      </div>
        <img src="../../images/calculadora.png" width="35%" height="35%">
    </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/calculadoraFront.js"></script>
  </body>
</html>

