<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="calImg">
      <div class="calculadora">
        <div class="pantalla">
          <input class="input" type="text">
        </div>
        <div class="marca">
          <div class="catiga">
            <h2>CATIGA</h2>
            <h3>®</h3>
            <p class="p1">CD-8185</P>
            <p class="p2">SIMPLE DESIGN CALCULATOR</p>
          </div>
            <div class="p3">
              <p class="parrafo8">8</P>
              <p class="digito">DIGITS</p>
            </div>
          <div class="p4">
             <button class="celda"></button>
          </div>
        </div>
          
        <div class="botonesCalculadora">
          <div>
            <button id="botonRedondo">%</button>
            <button id="botonRedondoRosado" class="boton7" value="7">7</button>
            <button id="botonRedondoRosado" class="boton8" value="8">8</button>
            <button id="botonRedondoRosado" class="boton9" value="9">9</button>
            <button id="botonRedondo" class="botonDivision" value="/">÷</button>
          </div>
          <div>
            <button id="botonRedondo">√</button>
            <button id="botonRedondoRosado" class="boton4" value="4">4</button>
            <button id="botonRedondoRosado" class="boton5" value="5">5</button>
            <button id="botonRedondoRosado" class="boton6" value="6">6</button>
            <button id="botonRedondo" class="botonMultiplicacion" value="*">X</button>
          </div>
          <div>
            <button id="botonRedondo" class="botonReset">CE</button>
            <button id="botonRedondoRosado" class="boton1" value="1">1</button>
            <button id="botonRedondoRosado" class="boton2" value="2">2</button>
            <button id="botonRedondoRosado" class="boton3" value="3">3</button>
            <button id="botonRedondo" class="botonResta" value="-">-</button>
          </div>
          <div>
            <button id="botonRedondoAzul" class="botonReset">ON/C</button>
            <button id="botonRedondoRosado" class="boton0" value="0">0</button>
            <button id="botonRedondoRosado" class="botonPunto" value=".">.</button>
            <button id="botonRedondoRosado">+/-</button>
            <button id="botonRedondo" class="botonSuma" value="+">+</button>
          </div>
          <div>
            <button class="botonIgual" value="=">=</button>
          </div>
        </div>
      </div>
        <img src="../../images/calculadora.png" width="35%" height="35%">
    </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/calculadoraFront.js"></script>
  </body>
</html>

